In [1]:
import numpy as np
import pandas as pd
#Use to create a scrollable dataframe that can display all rows instead of showing just the head rows.
#pd.set_option("display.max_rows", None)

In [2]:
df=pd.read_csv("glassdoor_jobs.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
Unnamed: 0           956 non-null int64
Job Title            956 non-null object
Salary Estimate      956 non-null object
Job Description      956 non-null object
Rating               956 non-null float64
Company Name         956 non-null object
Location             956 non-null object
Headquarters         956 non-null object
Size                 956 non-null object
Founded              956 non-null int64
Type of ownership    956 non-null object
Industry             956 non-null object
Sector               956 non-null object
Revenue              956 non-null object
Competitors          956 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

### DATA CLEANING

In [4]:
'''DATA CLEANING'''
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [5]:
#Removing rows with -1 as salary
df=df[df['Salary Estimate']!='-1']
def removePerHour(val):
    if 'Per Hour' in val:
        return False
    else:
        return True
#Removed Datas with Salaries in PER HOUR
df=df[df['Salary Estimate'].apply(removePerHour)]
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck"
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

## SALARY PARSING-
### OBTAINED MIN, MAX AND AVG SALARIES

In [6]:
#Salary Parsing
def remove_para(value):
    return value.split('(')[0]
#REMOVED THE PARANTHESIS
salary=df['Salary Estimate'].apply(remove_para)
#REMOVED THE 'K' AND '$'
def remove_k_dol(val):
    val=val.replace('K', ' ').replace('-',' ')
    return val
salary_mod=salary.apply(remove_k_dol)
#Removed the 'Employer provided salary section and trimmed from both end'
def reformat_sal(val):
    if ':' in val:
        val= val.split(':')[1]
    return val
def trim(val):
    return val.strip()
salary_mod2=salary_mod.apply(reformat_sal).apply(trim)
salary_mod2[1]

'$63  $112'

In [7]:
def split_getmin(s):
    return int(s.split('  ')[0].split('$')[1])
df['min sal']=salary_mod2.apply(split_getmin)

In [8]:
df['min sal']
df['min sal'].dtype

dtype('int64')

In [9]:
def split_getmax(s):
    return int(s.split('  ')[1].split('$')[1])
df['max sal']=salary_mod2.apply(split_getmax)

In [10]:
df['max sal']
df['max sal'].dtype

dtype('int64')

In [11]:
df['avg']=(df['min sal']+df['max sal'])/2
df['avg'].dtype

dtype('float64')

### Cleaned the company names

In [12]:
df['Company Name']=df['Company Name'].apply(lambda x: x.split('\n')[0])

### Cleaning State and HQ fields

In [13]:
df['State']=df['Location'].apply(lambda x: x.split(',')[1])

#Check if HQ and Job are in same state
df['same state']=df.apply(lambda x: 1 if x['Location']== x['Headquarters'] else 0, axis=1)
#Fixed state of Los Angeles to LA for uniformity
df['State']=df['State'].apply(lambda x: 'LA' if x==' Los Angeles' else x)

### Company Age

In [14]:
#Age of company
df['age']=df['Founded'].apply(lambda x: x if x==-1 else 2020-x)

### Parsing of job description

### Python Keyword

In [15]:
df['python_reqd']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['python_reqd'].value_counts()

1    392
0    326
Name: python_reqd, dtype: int64

In [16]:
df['spark_reqd']=df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['spark_reqd'].value_counts()

0    551
1    167
Name: spark_reqd, dtype: int64

In [17]:
df['aws_reqd']=df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() or 'amazon web services' in x.lower() else 0)
df['aws_reqd'].value_counts()

0    543
1    175
Name: aws_reqd, dtype: int64

In [18]:
df['excel_reqd']=df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['excel_reqd'].value_counts()

1    382
0    336
Name: excel_reqd, dtype: int64

In [19]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min sal', 'max sal', 'avg', 'State', 'same state', 'age',
       'python_reqd', 'spark_reqd', 'aws_reqd', 'excel_reqd'],
      dtype='object')

In [20]:
df=df.drop(['Unnamed: 0'], axis=1)

### Cleaning various Job Titles

In [21]:
#making different Job titles fall into 4-5 categories
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    else:
        return 'na'
    
#Bringing uniformity in different levels on seniority
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'junior'
    else:
        return 'na'

In [22]:
df['job_simp']=df['Job Title'].apply(title_simplifier)
df['job_simp'].value_counts()

data scientist    279
na                176
data engineer     119
analyst           100
mle                22
manager            22
Name: job_simp, dtype: int64

In [23]:
df['seniority']=df['Job Title'].apply(seniority)
df['seniority'].value_counts()

na        498
senior    218
junior      2
Name: seniority, dtype: int64

In [24]:
df['desc_len']=df['Job Description'].apply(lambda x: len(x))
df['desc_len'].head(5)

0    2555
1    4828
2    3495
3    3926
4    2748
Name: desc_len, dtype: int64

In [25]:
df['num_comp']=df['Competitors'].apply(lambda x: len(x.split(',')) if x!='-1' else 0)

In [27]:
df[['python_reqd', 'spark_reqd', 'aws_reqd', 'excel_reqd']].head(3)

   python_reqd  spark_reqd  aws_reqd  excel_reqd
0            1           0         0           1
1            1           0         0           0
2            1           1         0           1

In [28]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min sal', 'max sal', 'avg', 'State', 'same state', 'age',
       'python_reqd', 'spark_reqd', 'aws_reqd', 'excel_reqd', 'job_simp',
       'seniority', 'desc_len', 'num_comp'],
      dtype='object')

In [29]:
df['Comapy Name']=df['Company Name'].apply(lambda x: x.split('\r')[0])

In [31]:
df.to_csv('salary_data_cleaned.csv', index=False)
df.head(3)

PermissionError: [Errno 13] Permission denied: 'salary_data_cleaned.csv'